*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #374151;
}
hr{
    width: 100px;
    height: 5px;
    background-color: #374151;
    border-radius: 20px;
    border: none;
    margin: auto;
    /* text-align: center; */
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container div{
    background-repeat: no-repeat;
    padding: 20px;
    margin: 20px;
    background-size: cover;
    height: 506px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.small-child{
    width: 20%;
    position: relative;
}
.big-child{
    width: 60%;
    position: relative;
}
.big-child h2{
    width: 60%;
    margin: auto;
}

.child-one{
    background: url(./img/zapatillas.svg);
}
.child-two{
    background: url(./img/reloj.svg);
}
.child-three{
    background: url(./img/ropa.svg);
}
.child-four{
    background: url(./img/bolso.svg);
}
h2{
    color: #fff;
    font-size: 56px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
section *{
    margin-left: 10px;
    margin-bottom: 15px;
}
section{
    background-color: #0000004d;
    color: #fff;
    max-width: 300px;
    text-align: left;
    border: 1px solid #f9fafb0e;
    padding: 10px 10px 10px 0;
    position: absolute;
    left: 20px;
    bottom: 20px;
    /* text-shadow: 0 0 10px rgb(0, 0, 0); */
}
section h5:first-child{
    font-size: 18px;
    margin-bottom: 5px;
    /* text-shadow: 0 0 10px #fff; */
}
section h5:last-child{
    font-size: 14px;
}
section p{
    font-size: 12px;
    font-weight: 100;
}
.contenedor-weekly{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 0 9%;
    padding-top: 20px;
    justify-content: center;
}

.contenedor-weekly div img{
    width: 100%;
}
.description{
    font-size: 12px;
}
.contenedor-precio{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.precios{
    display: flex;
    gap: 10px;
    font-weight: bold;
    font-size: 15px;
}
.old-price{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 14px;
    color: gray;
}
.add-car{
    display: flex;
    justify-content: end;
}
.add-car a{
    font-weight: bold;
    font-size: 13px;
    color: black;
}

@media only screen and (max-width: 1500px){
h2{
    font-size: 40px;
}
.contenedor-weekly{
    flex-wrap: wrap;
}

.contenedor-weekly div{
    width: 40%;
    /* flex-direction: column; */
    /* width: 100% !important; */
    flex-wrap: wrap;
}
.contenedor-precio{
    width: 100% !important;
    /* justify-content: center; */
}
}

@media only screen and (max-width: 1000px){
h2{
    font-size: 30px;
}
.small-child{
    width: 35%;
}
.big-child{
    width: 35%;
}

}

@media only screen and (max-width: 480px){
.small-child{
    width: 100%;
}
.big-child{
    width: 100%;
}
.contenedor-weekly > div{
    width: 100%;
}
}