body{
    font-family:monospace;
}
header{
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 10;
}
nav{
    background-color: rgb(48, 48, 48);
}
ul{
    padding: 20px;
}
ul li{
    display: inline-block;
}

a{
    color: #fff;
    text-decoration: none;
}
.contenedor{
    /* background-color: red; */
    width: 100%;
    height: 50vh;
    position: relative;
    top: 100px;
    z-index: 5;
}
.contenedor img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
    margin-bottom: 100px;
    /* width: 100%; */
}

#nosotros{
    height: 100vh;
    background-color: purple;
    margin-top: 170px;
}