*{
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
}

.bandera{
    height: 100vh;
    position: relative;
}
.green{
    background-color: green;
    height: 100vh;
    width: 40%;
    float: left;
    left: 0;
    
}
.red{
    background-color: red;
    width: 60%;
    height: 100vh;
    float: right;
    right: 0;
    
}
.escudo{
    width: 200px;
    height: 200px;
    position: absolute;
    right: calc(60% - 100px);
    top: calc(50% - 100px);
    background-image: url('../img/Coat_of_arms_of_Portugal_\(Lesser\).svg.png');
    background-size: cover;
    background-repeat: no-repeat;
}